* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(78, 78, 243, 0.849);
    display: grid;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 150px auto;
}

#calculator-body {
    border: 2px solid red;
    max-width: 300px;
    width: 100%;
    
}

#calculator-result {
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 30px;
}

#calculator-operators {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    grid-gap: 20px;
}

.operators {
    font-size: 20px;
    padding: 2px auto;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;

}